.Whats{
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 9999;
}

.color-accordion{
    background-color: #f3be43;
    /*f3be43*/
}

.header-color{
    background-color: #000000;
}

.footer-color{
    background-color: #000000;
}